/*set font for all elements*/
*{
    font-family: Arial, sans-serif;

}
body{
    padding:0;
    margin: 0;
}
p{
    font-size: 26px;
    text-shadow: 1px 1px 1px black;
}
h1{
    font-size: 50px;
    text-shadow: 2px 2px 4px black;
}
h2{font-size: 40px;}
::-webkit-scrollbar {
    display: none;
}
/*Styling for slideshow*/
#slideshow{
    position: relative;
    display: block;
    width: 100%;
    height: 40vh;
    overflow: hidden;
}
#slideshow img{
    float: left;
    width: 100%;
    min-height: 100%;
    vertical-align: middle;
    display: inline-block;
    position: absolute;
}
#slideshow:after{
    box-shadow: inset 0 0 60px #666;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    content: "";
}
.ss_slide{
    width:100%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    vertical-align: middle;
}
.helper{
    display:inline-block;
    vertical-align:middle;
    height: 100%;
}
.ss_label{
    height: 26px;
    position: absolute;
    float: right;
    bottom: 0;
    right: 0;
    background-color: rgba(36, 36, 36, 0.8);
    border-top-left-radius: 5px;
    padding: 5px;
    color: #fff;
    font-size: 20px;
}
/*Styling for title and logo*/
/*Changing width will change both dimensions*/
/*Change first left in title to the same value*/
#logo{
    width:128px;

    height:auto;
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 5;

    /*border: red 1px solid;*/
}
#title{
    left: calc(128px + 18px);

    top:8px;
    margin-top:5px;
    position: absolute;
    z-index: 5;
    color: black;
    text-shadow: 0px 0px 8px #FFF;
    font-size: 48px;
    font-weight: lighter;

    /*border: red 1px solid;*/
}

/*Menu and contents*/
#menu{
    width:100%;
    height: auto;
    position: absolute;
    display:block;
    top:40vh;
    left:0;
}
.mu_item{
    width:25vw;
    height:15vw;
    display:table;
    margin-left:0px;
    margin-top:calc(25vw / 8);
    margin-bottom:calc(25vw / 8);
    margin-right:0;
    float:left;
    background-color: #116;
    transform: scale(0.5);
    transition: all 500ms;
}
.mu_item:hover{
    transform: scale(0.8);
    cursor: pointer;
}
.mu_item p{
    display: table-cell;;
    margin: auto;
    font-size: 45px;
    vertical-align: middle;
    text-align: center;
    color: white;
}

/*Tiles and panels*/
.tile{
    width: 600px;
    height: 600px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 90px;
    overflow: hidden;
}
.wrapper{
    position: relative;
    left:0px;
    width:20000px;
    height:600px;
}
.pane{
    float:left;
    width: 600px;
    height: 600px;
    margin:0;
    background-color: #116;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
    border: 2px #DDD solid;
    padding-left: 30px;
    padding-right: 30px;
}
.cover{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 300ms;
    box-shadow: inset 0 0 60px #000;
    vertical-align: bottom;
}
.prompt{
    position: absolute;
    width: inherit;
    text-align: center;
    bottom:0px;
    left:0px;
    margin-bottom: 2px;
    transform: translateY(35px);
    transition: all 300ms;
}
.cover:hover > .prompt{
    transform: translateY(0px);
}

a:link {
    text-decoration: none;
    color:white;
    font-weight: bolder;
}

a:visited {
    text-decoration: none;
    color:#DDD;
}

a:hover {
    text-decoration: underline;
    cursor:pointer; 
}

a:active {
    text-decoration: underline;
}

span:hover{
    text-decoration: underline;
    cursor:pointer;
}

#fb{
    position: fixed;
    width:30px;
    height: 90px;
    border-radius: 5px 0 0 5px;
    right:0;
    top: calc(50vh - 45px);
    background-color: #3b5998;
}

#fb p{
    font-size:20px;
    transform: rotate(90deg);
    color:white;
    font-weight: lighter;
    margin-top: 10px;
}
#feed{
    width:400px;
    margin: auto;
    margin-bottom: 50px;
}


@media screen and (min-width: 800px) {
    #slideshow img {
        margin-top:-140px;
    }
}
@media screen and (max-width: 600px) {
    .tile{
        width:400px;
        height:400px;
    }
    .pane{
        width: 400px;
        height: 400px;
    }
    .cover:hover:after{
        width:400px;
        height:400px;
    }
    .mu_item p{
        font-size: 30px;
    }
    #feed{
        width:400px;
    }
}
@media screen and (max-width: 399px) {
    .tile{
        width:320px;
        height:320px;
    }
    .pane{
        width: 320px;
        height: 320px;
    }
    .cover:hover:after{
        width:320px;
        height:320px;
    }
    #feed{
        width:320px;
    }
}


